<a href="https://colab.research.google.com/github/vitaoTM/python_projects/blob/master/Alura%20Chalenges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importando Dados

In [537]:
import pandas as pd
import matplotlib
%matplotlib inline
from matplotlib import pyplot as plt
from pandas.plotting import autocorrelation_plot

In [514]:
dados_voz = pd.read_json('https://raw.githubusercontent.com/sthemonica/alura-voz/main/Dados/Telco-Customer-Churn.json',
                         )
dados_voz.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

## Tratando dados

In [515]:
df_extracao =  dados_voz.drop(['customerID', 'Churn'], axis=1)

In [516]:
dados = dados_voz[['customerID', 'Churn']]

In [517]:
for coluna in df_extracao:
    coluna_normalizada = pd.json_normalize(df_extracao[coluna])
    dados = pd.concat([dados, coluna_normalizada], axis=1)

dados.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

**Entendendo as informações do conjunto**

In [518]:
print(f'Quantidade de linhas e colunas {dados.shape}')
print(f'Quantidade de dados nulos {dados.isna().sum()}')

Quantidade de linhas e colunas (7267, 21)
Quantidade de dados nulos customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

In [519]:
dados.columns

Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly',
       'Charges.Total'],
      dtype='object')

In [520]:
traducao_colunas =  {'customerID' : 'n_identificacao', 
                     'Churn' : 'deixou_empresa', 
                    'gender' : 'genero', 
                    'SeniorCitizen' : 'idoso', 
                    'Partner' : 'casado',
                    'Dependents' : 'dependentes', 
                    'tenure' : 'meses_contratados', 
                    'PhoneService' : 'assinatura_telefonica', 
                    'MultipleLines' : 'multiplas_linhas_tel',
                    'InternetService' : 'assinatura_internet', 
                    'OnlineSecurity' : 'assinatura_seguranca_online', 
                    'OnlineBackup' : 'assinatura_backup', 
                    'DeviceProtection' : 'proteca_dispositivo',
                    'TechSupport' : 'suporte_tecnico', 
                    'StreamingTV' : 'assinatura_cabo_tv', 
                    'StreamingMovies' : 'assinatura_stream', 
                    'Contract' : 'contrato',
                    'PaperlessBilling' : 'pagamento_online', 
                    'PaymentMethod' : 'tipo_fatura', 
                    'Charges.Monthly' : 'total_mensal',
                    'Charges.Total' : 'total_gasto'}

In [521]:
dados = dados.rename(columns = traducao_colunas)
dados.sample(3)

,n_identificacao,deixou_empresa,genero,idoso,casado,dependentes,meses_contratados,assinatura_telefonica,multiplas_linhas_tel,assinatura_internet,...,assinatura_backup,proteca_dispositivo,suporte_tecnico,assinatura_cabo_tv,assinatura_stream,contrato,pagamento_online,tipo_fatura,total_mensal,total_gasto
5278,7207-RMRDB,Yes,Female,0,Yes,Yes,65,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,105.50,6985.65
4019,5498-TXHLF,Yes,Female,0,Yes,Yes,34,Yes,Yes,Fiber optic,...,No,Yes,No,Yes,No,Month-to-month,No,Electronic check,87.45,2874.15
4944,6746-WAUWT,No,Male,0,No,No,19,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Credit card (automatic),19.70,386.5

### Definindo indice

In [522]:
dados = dados.set_index(['n_identificacao'])
dados.sample(2)

,deixou_empresa,genero,idoso,casado,dependentes,meses_contratados,assinatura_telefonica,multiplas_linhas_tel,assinatura_internet,assinatura_seguranca_online,assinatura_backup,proteca_dispositivo,suporte_tecnico,assinatura_cabo_tv,assinatura_stream,contrato,pagamento_online,tipo_fatura,total_mensal,total_gasto
n_identificacao,,,,,,,,,,,,,,,,,,,,
5442-BXVND,No,Female,0,Yes,Yes,33,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Bank transfer (automatic),24.25,838.5
1075-BGWOH,Yes,Male,1,Yes,No,16,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.75,1587.55

# Traduzindo colunas para o portugues

In [523]:
sim_nao = {'Yes': 'sim',
           '':'',
           'No' : 'nao',
           'No internet service': 'Sem servico de net',
           'No phone service': 'sem servico de tel'
           }

In [524]:
dados['genero'].unique()

array(['Female', 'Male'], dtype=object)

In [525]:
genero = {'Female' : 'mulher', 
          'Male': 'homem'}

In [526]:
dados.columns

Index(['deixou_empresa', 'genero', 'idoso', 'casado', 'dependentes',
       'meses_contratados', 'assinatura_telefonica', 'multiplas_linhas_tel',
       'assinatura_internet', 'assinatura_seguranca_online',
       'assinatura_backup', 'proteca_dispositivo', 'suporte_tecnico',
       'assinatura_cabo_tv', 'assinatura_stream', 'contrato',
       'pagamento_online', 'tipo_fatura', 'total_mensal', 'total_gasto'],
      dtype='object')

In [527]:
dados['total_gasto'].unique()

array(['593.3', '542.4', '280.85', ..., '742.9', '4627.65', '3707.6'],
      dtype=object)

In [528]:
dados['casado'] = dados['casado'].map(sim_nao)
dados['dependentes'] = dados['dependentes'].map(sim_nao)
dados['deixou_empresa'] = dados['deixou_empresa'].map(sim_nao)
dados['genero'] = dados['genero'].map(genero)
dados['assinatura_telefonica'] = dados['assinatura_telefonica'].map(sim_nao) 
dados['multiplas_linhas_tel'] = dados['multiplas_linhas_tel'].map(sim_nao)
dados['assinatura_seguranca_online'] = dados['assinatura_seguranca_online'].map(sim_nao)
dados['assinatura_backup'] = dados['assinatura_backup'].map(sim_nao)
dados['proteca_dispositivo'] = dados['proteca_dispositivo'].map(sim_nao)
dados['suporte_tecnico'] = dados['suporte_tecnico'].map(sim_nao)
dados['assinatura_cabo_tv'] = dados['assinatura_cabo_tv'].map(sim_nao)
dados['assinatura_stream']= dados['assinatura_stream'].map(sim_nao)
dados['pagamento_online'] = dados['pagamento_online'].map(sim_nao)
# dados['assinatura_internet'] = dados['assinatura_internet'].map(sim_nao)

In [529]:
dados.sample(1)

,deixou_empresa,genero,idoso,casado,dependentes,meses_contratados,assinatura_telefonica,multiplas_linhas_tel,assinatura_internet,assinatura_seguranca_online,assinatura_backup,proteca_dispositivo,suporte_tecnico,assinatura_cabo_tv,assinatura_stream,contrato,pagamento_online,tipo_fatura,total_mensal,total_gasto
n_identificacao,,,,,,,,,,,,,,,,,,,,
6131-IUNXN,nao,mulher,0,sim,sim,19,sim,nao,No,Sem servico de net,Sem servico de net,Sem servico de net,Sem servico de net,Sem servico de net,Sem servico de net,Month-to-month,nao,Mailed check,20.2,382.2

In [530]:
for colunas in dados.columns:
    print(dados[colunas].unique())

['nao' 'sim' '']
['mulher' 'homem']
[0 1]
['sim' 'nao']
['sim' 'nao']
[ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]
['sim' 'nao']
['nao' 'sim' 'sem servico de tel']
['DSL' 'Fiber optic' 'No']
['nao' 'sim' 'Sem servico de net']
['sim' 'nao' 'Sem servico de net']
['nao' 'sim' 'Sem servico de net']
['sim' 'nao' 'Sem servico de net']
['sim' 'nao' 'Sem servico de net']
['nao' 'sim' 'Sem servico de net']
['One year' 'Month-to-month' 'Two year']
['sim' 'nao']
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
[65.6  59.9  73.9  ... 91.75 68.8  67.85]
['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']

In [531]:
assinatura_internet = {'DSL': 'DSL',
                       'Fiber optic':'fibra',
                       'No':'nao'}
contrato = {'One year' : 'anual',
            'Month-to-month': 'mensal',
            'Two year': 'dois_anos'}

tipo_fatura = {'Mailed check':'correios_cheque',
               'Electronic check':'cheque_eletronico',
               'Credit card (automatic)': 'cartao_credito',
               'Bank transfer (automatic)': 'transferencia_bancaria'}

In [532]:
dados['assinatura_internet'] = dados['assinatura_internet'].map(assinatura_internet)
dados['tipo_fatura'] = dados['tipo_fatura'].map(tipo_fatura)
dados.head()

,deixou_empresa,genero,idoso,casado,dependentes,meses_contratados,assinatura_telefonica,multiplas_linhas_tel,assinatura_internet,assinatura_seguranca_online,assinatura_backup,proteca_dispositivo,suporte_tecnico,assinatura_cabo_tv,assinatura_stream,contrato,pagamento_online,tipo_fatura,total_mensal,total_gasto
n_identificacao,,,,,,,,,,,,,,,,,,,,
0002-ORFBO,nao,mulher,0,sim,sim,9,sim,nao,DSL,nao,sim,nao,sim,sim,nao,One year,sim,correios_cheque,65.6,593.3
0003-MKNFE,nao,homem,0,nao,nao,9,sim,sim,DSL,nao,nao,nao,nao,nao,sim,Month-to-month,nao,correios_cheque,59.9,542.4
0004-TLHLJ,sim,homem,0,nao,nao,4,sim,nao,fibra,nao,nao,sim,nao,nao,nao,Month-to-month,sim,cheque_eletronico,73.9,280.85
0011-IGKFF,sim,homem,1,sim,nao,13,sim,nao,fibra,nao,sim,sim,nao,sim,sim,Month-to-month,sim,cheque_eletronico,98.0,1237.85
0013-EXCHZ,sim,mulher,1,sim,nao,3,sim,nao,fibra,nao,nao,nao,sim,sim,nao,Month-to-month,sim,correios_cheque,83.9,267.4

In [533]:
dados['contrato'] = dados['contrato'].map(contrato)

In [534]:
dados.sample(2)

,deixou_empresa,genero,idoso,casado,dependentes,meses_contratados,assinatura_telefonica,multiplas_linhas_tel,assinatura_internet,assinatura_seguranca_online,assinatura_backup,proteca_dispositivo,suporte_tecnico,assinatura_cabo_tv,assinatura_stream,contrato,pagamento_online,tipo_fatura,total_mensal,total_gasto
n_identificacao,,,,,,,,,,,,,,,,,,,,
1555-HAPSU,nao,mulher,0,sim,sim,71,sim,sim,nao,Sem servico de net,Sem servico de net,Sem servico de net,Sem servico de net,Sem servico de net,Sem servico de net,dois_anos,nao,cartao_credito,23.9,1663.5
8250-ZNGGW,nao,mulher,1,nao,nao,5,sim,nao,DSL,sim,sim,nao,sim,nao,nao,mensal,nao,cartao_credito,59.9,287.85

# Analisando tipos de dados

In [535]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7267 entries, 0002-ORFBO to 9995-HOTOH
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   deixou_empresa               7267 non-null   object
 1   genero                       7267 non-null   object
 2   idoso                        7267 non-null   int64
 3   casado                       7267 non-null   object
 4   dependentes                  7267 non-null   object
 5   meses_contratados            7267 non-null   int64
 6   assinatura_telefonica        7267 non-null   object
 7   multiplas_linhas_tel         7267 non-null   object
 8   assinatura_internet          7267 non-null   object
 9   assinatura_seguranca_online  7267 non-null   object
 10  assinatura_backup            7267 non-null   object
 11  proteca_dispositivo          7267 non-null   object
 12  suporte_tecnico              7267 non-null   object
 13  assinatura_cabo_tv           7267 non-null   object
 14  assinatura_stream            7267 non-null   object
 15  contrato                     7267 non-null   object
 16  pagamento_online             7267 non-null   object
 17  tipo_fatura                  7267 non-null   object
 18  total_mensal                 7267 non-null   float64
 19  total_gasto                  7267 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.2+ MB